nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 28px 88px;
    box-shadow: 0 5px 15px rgba(21, 20, 20, 0.06);
}